<footer class="site-footer">
  <div class="container">
    <p>&copy; 2012–<script>document.write(new Date().getFullYear());</script>
      Eccentric New Media, Pty Ltd. All Rights Reserved.
    </p>

    <p>The medical information on this site is provided as an information
      resource only, and is not to be used or relied on for any diagnostic or
      treatment purposes. This information is not intended to be patient
      education, does not create any patient-physician relationship, and should
      not be used as a substitute for professional diagnosis and treatment.
    </p>
  </div>
</footer>
